@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
	--black: #000;
	--primaryColor: #5c2dd5;
	--secondaryColor: #7945ff;
	--tertiaryColor: #fd6687;
	--quaternaryColor: #ffce67;
	--white: #fff;
}
* {
	font-family: "Space Grotesk", serif;
}
html {
	height: 100vh;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--secondaryColor);
}
header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 53px;
	width: 33%;
	margin-bottom: 51px;
}
.play-game {
	display: block;
}
.f-s16 {
	font-size: 16px;
}
.f-s20 {
	font-size: 20px;
}
.f-s56 {
	font-size: 56px;
}
.f-w700 {
	font-weight: 700;
}
.f-w500 {
	font-weight: 500;
}
.opa66 {
	opacity: 66%;
}
.btn-nav {
	border: none;
	border-radius: 20px;
	text-align: center;
	background-color: var(--primaryColor);
	padding: 9px 20px 10px 21px;
	color: var(--white);
}
.btn-nav:hover {
	cursor: pointer;
	background-color: var(--tertiaryColor);
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.art-main {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 60px;
	width: 100%;
}
.div-player {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--white);
	padding: 46px 27px 17px 28px;
	height: 30%;
	border: 3px var(--black) solid;
	border-radius: 20px;
	box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}
.img-player {
	position: absolute;
	bottom: 80%;
}
.layer-sect {
	position: relative;
}
img[alt="white-layer"] {
	z-index: 2;
}
img[alt="black-layer"] {
	z-index: 0;
}
.img-layer {
	position: absolute;
	top: 0;
	left: 0;
}
.container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 24px;
	padding: 20px 20px 20px 20px;
}
.btn-grid {
    display: flex;
    justify-content: center;
	width: 64px;
	height: 64px;
	z-index: 1;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.grid-col {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.chrono-div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.timer-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--tertiaryColor);
	border: 3px solid var(--black);
	z-index: 7;
	border-radius: 20px;
	padding: 21px 25px 12px 25px;
	margin-bottom: 50px;
	box-shadow: 0px 10px 0px 0px var(--black);
	width: 12%;
}
.player-turn-para,
.timer-para {
	color: var(--white);
}
.circle-win {
	height: 34px;
    width: 34px;
    border: var(--white) 6px solid;
    background-color: var(--tertiaryColor);
}
.win-div {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--white);
	border: 3px solid var(--black);
	z-index: 10;
	border-radius: 20px;
	padding: 21px 25px 14px 25px;
	margin-bottom: 50px;
	box-shadow: 0px 10px 0px 0px var(--black);
	width: 19%;
}

.play-again-win {
	color: var(--white);
	text-align: center;
	border: #5c2dd5;
	width: 55%;
	border-radius: 20px;
	background-color: var(--primaryColor);
    padding: 9px 0 10px 0;
}

/* Rule-Sect */
.rule-game {
	display: none;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.art-rule {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	border: 3px solid var(--black);
	padding: 30px 20px 54px 34px;
	border-radius: 40px;
	width: 29%;
	box-shadow: 0px 10px 0px 0px var(--black);
}
.sect-obj {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.h-rule {
	text-align: center;
}
.h2-rule {
	color: var(--secondaryColor);
}
.para-obj {
	margin-bottom: 29px;
}
.how-ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0;
	list-style: none;
}
.li-how {
	display: flex;
	flex-direction: row;
	gap: 17px;
	color: #565656;
}
.number-span {
	opacity: 100%;
	color: var(--black);
}
img[alt="icon-check"] {
	position: absolute;
	bottom: -7%;
}