@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
	--black: #000;
	--primaryColor: #5c2dd5;
	--secondaryColor: #7945ff;
	--tertiaryColor: #fd6687;
	--quaternaryColor: #ffce67;
	--white: #fff;
}
* {
	font-family: "Space Grotesk", serif;
}
html {
	height: 100vh;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--secondaryColor);
}
header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 53px;
	width: 33%;
	margin-bottom: 51px;
}
.play-game {
	display: none;
}
.f-s16 {
	font-size: 16px;
}
.f-s20 {
	font-size: 20px;
}
.f-s24 {
	font-size: 24px;
}
.f-s56 {
	font-size: 56px;
}
.f-w700 {
	font-weight: 700;
}
.f-w500 {
	font-weight: 500;
}
.opa66 {
	opacity: 66%;
}
.btn-nav {
	border: none;
	border-radius: 20px;
	text-align: center;
	background-color: var(--primaryColor);
	padding: 9px 20px 10px 21px;
	color: var(--white);
}
.btn-nav:hover {
	cursor: pointer;
	background-color: var(--tertiaryColor);
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.art-main {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 60px;
	width: 100%;
}
.div-player {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--white);
	padding: 46px 27px 17px 28px;
	height: 30%;
	border: 3px var(--black) solid;
	border-radius: 20px;
	box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}
.img-player {
	position: absolute;
	bottom: 80%;
}
.layer-sect {
	position: relative;
}
img[alt="white-layer"] {
	z-index: 2;
}
img[alt="black-layer"] {
	z-index: 0;
}
.img-layer {
	position: absolute;
	top: 0;
	left: 0;
}
.container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 24px;
	padding: 20px 20px 20px 20px;
}
.btn-grid {
    display: flex;
    justify-content: center;
	width: 64px;
	height: 64px;
	z-index: 1;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.grid-col {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.chrono-div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.timer-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--tertiaryColor);
	border: 3px solid var(--black);
	z-index: 7;
	border-radius: 20px;
	padding: 21px 25px 12px 25px;
	margin-bottom: 50px;
	box-shadow: 0px 10px 0px 0px var(--black);
	width: 12%;
}
.player-turn-para,
.timer-para {
	color: var(--white);
}
.circle-win {
	height: 34px;
    width: 34px;
    border: var(--white) 6px solid;
    background-color: var(--tertiaryColor);
}
.win-div {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--white);
	border: 3px solid var(--black);
	z-index: 10;
	border-radius: 20px;
	padding: 21px 25px 14px 25px;
	margin-bottom: 50px;
	box-shadow: 0px 10px 0px 0px var(--black);
	width: 19%;
}

.play-again-win {
	color: var(--white);
	text-align: center;
	border: #5c2dd5;
	width: 55%;
	border-radius: 20px;
	background-color: var(--primaryColor);
    padding: 9px 0 10px 0;
}

/* Rule-Sect */
.rule-game {
	display: none;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.art-rule {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	border: 3px solid var(--black);
	padding: 30px 20px 54px 34px;
	border-radius: 40px;
	width: 29%;
	box-shadow: 0px 10px 0px 0px var(--black);
}
.sect-obj {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.h-rule {
	text-align: center;
}
.h2-rule {
	color: var(--secondaryColor);
}
.para-obj {
	margin-bottom: 29px;
}
.how-ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.li-how {
	display: flex;
	flex-direction: row-reverse;
	gap: 17px;
	color: #565656;
}
.number-span {
	opacity: 100%;
	color: var(--black);
}
.vr {
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
	border: none;
	position: absolute;
	bottom: -7%;
}
.div-opa {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 15;
	height: 118vh;
	width: 100%;
	background-color: var(--black);
	opacity: 50%;
}
.pause-dialog {
	position: absolute;
	top: 25%;
	left: 35%;
	z-index: 16;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--secondaryColor);
	border: var(--black) 3px solid;
	box-shadow: 0px 10px 0px 0px var(--black);
	padding: 40px;
	border-radius: 40px;	
	width: 30%;
}
.h1-pause {
	color: var(--white);
	padding-bottom: 44px;
}
.btn-pause-div, .btn-menu-div {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}
.btn-pause, .btn-quitgame {
	cursor: pointer;
	padding: 21px 0 20px 0;
	border: var(--black) 3px solid;
	box-shadow: 0px 10px 0px 0px var(--black);
	text-align: center;
	width: 100%;
	border-radius: 20px;
}
.btn-pause:hover, .btn-quitgame:hover {
	border: var(--primaryColor) 3px solid;
	box-shadow: 0px 10px 0px 0px var(--primaryColor);
}
.btn-pause {
	color: var(--black);
	background-color: var(--white);
}
.btn-quitgame {
	color: var(--white);
	background-color: var(--tertiaryColor);
}

/* Main Menu */
.main-menu {
	display: flex;	
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--primaryColor);
}
.menu-art {
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	background-color: var(--secondaryColor);
	padding: 70px 40px 60px 40px;
	border: var(--black) 3px solid;
	box-shadow: 0px 10px 0px 0px var(--black);
	border-radius: 40px;
}
img[alt="logo-menu"] {
	height: 52px;
	margin-bottom: 79px;
}
.btn-menu-single, .btn-menu-rule {
	cursor: pointer;
	padding: 15px 17px 15px 20px;
	border: var(--black) 3px solid;
	box-shadow: 0px 10px 0px 0px var(--black);
	width: 100%;
	border-radius: 20px;
	text-align: left;
	color: var(--black);
}
.btn-menu-single:hover, .btn-menu-rule:hover {
	border: var(--primaryColor) 3px solid;
	box-shadow: 0px 10px 0px 0px var(--primaryColor);
}
.btn-menu-single {
	display: flex;
	align-items: center;
	padding: 15px 17px 15px 20px;
	justify-content: space-between;
	background-color: var(--quaternaryColor);
}
.footer-wins {
	position: absolute;
	top: 95%;
	height: 25%;
	width: 100%;
	z-index: -5;
	border-radius: 60px 60px 0 0;
	background-color: var(--primaryColor);
}

.icon-div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: start;
	width: 36%;
	height: 10%;
	position: relative;
	left: 0;
}
.replace-truc {
	display: flex;
	align-items: center;
	height: 10%;
	justify-content: center;
}
#cursor {
	position: absolute;
	left: 0;
	margin-bottom: 45px;
}