@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root {
    --black: #000;
    --primaryColor: #5c2dd5;
    --secondaryColor: #7945ff;
    --tertiaryColor: #fd6687;
    --quaternaryColor: #ffce67;
    --white: #fff;
}
* {
    font-family: "Space Grotesk", serif;
}
html {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondaryColor);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 53px;
    width: 33%;
    margin-bottom: 51px;
}
.f-s16 {
    font-size: 16px;
}
.f-s20 {
    font-size: 20px;
}
.f-s56 {
    font-size: 56px;
}
.f-w700 {
    font-weight: 700;
}
.btn-nav {
    border: none;
    border-radius: 20px;
    text-align: center;
    background-color: var(--primaryColor);
    padding: 9px 20px 10px 21px;
    color: var(--white);
}
.btn-nav:hover {
    cursor: pointer;
    background-color: var(--tertiaryColor);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.art-main {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
}
.div-player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    padding: 46px 27px 17px 28px;
    border: 3px var(--black) solid;
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}
.layer-sect {
    position: relative;
    height: 584px;
    width: 632px;
}
img[alt="white-layer"] {
    z-index: 3;
}
.img-layer, .img-layers {
    position: absolute;
    top: 0;
    left: 0;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 24px;
    padding: 20px;
}
.btn-grid {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
